#include <physical_layouts.dtsi>

    /* Physical layout close to this:
     *
     * ┌───┬───┬───┬───┐          ┌───┬───┬───┬───┐
     * │ Q │ W │ E │ R ├───┐  ┌───┤ U │ I │ O │ P │
     * ├───┼───┼───┼───┤ T │  │ Y ├───┼───┼───┼───┤
     * │ A │ S │ D │ F ├───┤  ├───┤ J │ K │ L │ ; │
     * ├───┼───┼───┼───┤ G │  │ H ├───┼───┼───┼───┤
     * │ Z │ X │ C │ V ├───┘  └───┤ M │ , │ . │ / │
     * └───┴───┴───┴───┘          └───┴───┴───┴───┘
     *                 ┌───┐  ┌───┐
     *                 │ B │  │ N │
     *                 └───┘  └───┘
     *
     * Logical rows as used in the DTSI file:
     *
     * Q        W       E       R       T          Y       U       I       O       P
     * A        S       D       F       G          H       J       K       L       ;
     * Z        X       C       V       B          N       M       ,       .       /
     *
     * The RC(#, #) columns and row value below are the scanning matrix (GPIOs),
     * scanning rows are not physical! Scanning cols 0-4 on left, then 5-9 on the right.
     */

/ {

    matrix_transform30: matrix_transform30 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <15>;
        map = <
            RC(0,0) RC(0,1) RC(2,2) RC(2,3) RC(4,4)     RC(10,5) RC(13,6) RC(13,7) RC(11,8) RC(11,9)
            RC(5,0) RC(6,1) RC(7,2) RC(8,3) RC(3,4)     RC(14,5) RC(6,6)  RC(8,7)  RC(5,8)  RC(7,9)
            RC(4,0) RC(1,1) RC(1,2) RC(3,3) RC(9,4)     RC(9,5)  RC(14,6) RC(12,7) RC(12,8) RC(10,9)
        >;
    };

    physical_layout30: physical_layout30 {
        compatible = "zmk,physical-layout";
        display-name = "LAYOUT";

        kscan = <&kscan0>;
        transform = <&matrix_transform30>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 150   35   11    1000    87    83>
            , <&key_physical_attrs 100 100  140    6    1000   190    56>
            , <&key_physical_attrs 100 100  276    0    1800   326    50>
            , <&key_physical_attrs 100 100  369   86    2200   419   136>
            , <&key_physical_attrs 100 100  444  172    2200   494   222>
            , <&key_physical_attrs 100 100  968  172 (-2200)  1018   222>
            , <&key_physical_attrs 100 100 1043   86 (-2200)  1093   136>
            , <&key_physical_attrs 100 100 1136    0 (-1800)  1186    50>
            , <&key_physical_attrs 100 100 1272    6 (-1000)  1322    56>
            , <&key_physical_attrs 100 150 1377   11 (-1000)  1426    83>
            , <&key_physical_attrs 100 100    0  168       0     0     0>
            , <&key_physical_attrs 100 100  124  104    1000   174   154>
            , <&key_physical_attrs 100 100  246   95    1800   296   145>
            , <&key_physical_attrs 100 100  334  178    2200   384   228>
            , <&key_physical_attrs 100 100  409  264    2200   459   314>
            , <&key_physical_attrs 100 100 1003  264 (-2200)  1053   314>
            , <&key_physical_attrs 100 100 1078  178 (-2200)  1128   228>
            , <&key_physical_attrs 100 100 1166   95 (-1800)  1216   145>
            , <&key_physical_attrs 100 100 1289  104 (-1000)  1339   154>
            , <&key_physical_attrs 100 100 1412  168       0     0     0>
            , <&key_physical_attrs 100 100    0  268       0     0     0>
            , <&key_physical_attrs 100 100  107  203    1000   157   253>
            , <&key_physical_attrs 100 100  217  190    1800   267   240>
            , <&key_physical_attrs 100 100  298  271    2200   348   321>
            , <&key_physical_attrs 175 100  371  428       0     0     0>
            , <&key_physical_attrs 175 100  966  428       0     0     0>
            , <&key_physical_attrs 100 100 1114  271 (-2200)  1164   321>
            , <&key_physical_attrs 100 100 1195  190 (-1800)  1245   240>
            , <&key_physical_attrs 100 100 1305  203 (-1000)  1355   253>
            , <&key_physical_attrs 100 100 1412  268       0     0     0>
            ;
    };
};
