/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include "bivvy16d-layouts.dtsi"

/* By design, this is a reversible PCB so same wiring for left and right,
 * so can define the GPIOs once centrally.
 */

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &bivvy16d_L16_R16_layout;
        // Other chosen items
    };

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&pico_header 1 GPIO_OPEN_SOURCE>
            , <&pico_header 5 GPIO_OPEN_SOURCE>
            , <&pico_header 10 GPIO_OPEN_SOURCE>
            , <&pico_header 7 GPIO_OPEN_SOURCE>
            , <&pico_header 4 GPIO_OPEN_SOURCE>
            , <&pico_header 14 GPIO_OPEN_SOURCE>
            , <&pico_header 26 GPIO_OPEN_SOURCE>
            , <&pico_header 28 GPIO_OPEN_SOURCE>
            ;

        row-gpios
            = <&pico_header 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pico_header 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

/ {
    wired_split {
        compatible = "zmk,wired-split";
        device = <&pio0_uart0>;
    };
};

