#include "bivvy16d.dtsi"

&bivvy16d_L16_R16_transform {
    col-offset = <0>;
};

&bivvy16d_L15_R16_transform {
    col-offset = <0>;
};

&bivvy16d_L16_R15_transform {
    col-offset = <0>;
};

&bivvy16d_L15_R15_transform {
    col-offset = <0>;
};

/* The GPIO pins are the same, just layout mirrored */
