/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>
#include "slump34t-layouts.dtsi"

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        /* Can't use &pico_header 29 as not defined */
        col-gpios
            = <&gpio0 29 GPIO_OPEN_SOURCE>
            , <&gpio0 14 GPIO_OPEN_SOURCE>
            , <&gpio0 10 GPIO_OPEN_SOURCE>
            , <&gpio0 6 GPIO_OPEN_SOURCE>
            , <&gpio0 1 GPIO_OPEN_SOURCE>
            , <&gpio0 0 GPIO_OPEN_SOURCE>
            , <&gpio0 3 GPIO_OPEN_SOURCE>
            , <&gpio0 9 GPIO_OPEN_SOURCE>
            , <&gpio0 13 GPIO_OPEN_SOURCE>
            , <&gpio0 28 GPIO_OPEN_SOURCE>
            ;

        row-gpios
            = <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 26 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 27 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

/*
 * Same logical rows as used in the DTSI file:
 *
 * Esc 	Q 	W 	E 	R 	T 	-----	-----	Y 	U 	I 	O 	P 	BkSp
 * ---	A 	S 	D 	F 	G 	-----	-----	H 	J 	K 	L 	; 	----
 * ---	Z 	X 	C 	V 	B 	Shift	Space	N 	M 	, 	. 	/ 	----
 *
 */

/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <13>;
        rows = <13>;
        map = <
            RC(0,0) RC(1,0) RC(0,1) RC(0,2) RC(0,3) RC(1,4)                 RC(5,5)  RC(3,6)  RC(2,7)  RC(1,8)  RC(7,9) RC(3,9)
                    RC(2,0) RC(4,1) RC(5,2) RC(6,3) RC(4,4)                 RC(6,5)  RC(4,6)  RC(4,7)  RC(5,8)  RC(8,9)
                    RC(3,0) RC(8,1) RC(7,2) RC(9,3) RC(6,4) RC(7,4) RC(3,5) RC(8,5)  RC(5,6)  RC(9,7)  RC(9,8)  RC(9,9)
        >;
    };
};

/ {
    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout
    };
};

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
        // Other chosen items
    };
};

