#include <physical_layouts.dtsi>

/*
 * Logical rows approximating physical layout, 34 key default:
 *
 * Q 	W 	E 	R 	T   	-----	-----	    Y 	U 	I 	O 	P
 * A 	S 	D 	F 	G   	-----	-----	    H 	J 	K 	L 	;
 * Z 	X 	C 	V 	----	-----	-----	-----	M 	, 	. 	/
 *   	  	  	B	BkSp	LShft	RShft	Space	N
 *
 * The 32-key form drops the thumb keys labeled B and N above.
 */

/ {
    matrix_transform34: matrix_transform34 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <10>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(1,4)                      RC(2,5) RC(2,6) RC(1,7) RC(1,8) RC(7,9)
            RC(1,0) RC(3,1) RC(4,2) RC(5,3) RC(3,4)                      RC(4,5) RC(3,6) RC(5,7) RC(6,8) RC(8,9)
            RC(2,0) RC(8,1) RC(9,2) RC(6,3)                                      RC(5,6) RC(8,7) RC(9,8) RC(9,9)
                                    RC(7,3) RC(4,4) RC(7,4)      RC(8,5) RC(6,5) RC(9,6)
        >;
    };

    matrix_transform32: matrix_transform32 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <10>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(1,4)                      RC(2,5) RC(2,6) RC(1,7) RC(1,8) RC(7,9)
            RC(1,0) RC(3,1) RC(4,2) RC(5,3) RC(3,4)                      RC(4,5) RC(3,6) RC(5,7) RC(6,8) RC(8,9)
            RC(2,0) RC(8,1) RC(9,2) RC(6,3)                                      RC(5,6) RC(8,7) RC(9,8) RC(9,9)
                                            RC(4,4) RC(7,4)      RC(8,5) RC(6,5)
        >;
    };

    physical_layout34: physical_layout34 {
        compatible = "zmk,physical-layout";
        display-name = "34-keys";

        kscan = <&kscan0>;
        transform = <&matrix_transform34>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   32   37    1000    82    87>
            , <&key_physical_attrs 100 100  140    5    1000   190    55>
            , <&key_physical_attrs 100 100  276    0    1800   326    50>
            , <&key_physical_attrs 100 100  369   84    2200   419   134>
            , <&key_physical_attrs 100 100  445  169    2200   495   219>
            , <&key_physical_attrs 100 100  600  169 (-2200)   650   219>
            , <&key_physical_attrs 100 100  676   84 (-2200)   726   134>
            , <&key_physical_attrs 100 100  770    0 (-1800)   820    50>
            , <&key_physical_attrs 100 100  905    5 (-1000)   955    55>
            , <&key_physical_attrs 100 100 1013   37 (-1000)  1063    87>
            , <&key_physical_attrs 100 100    0  165       0     0     0>
            , <&key_physical_attrs 100 100  124  103    1000   174   153>
            , <&key_physical_attrs 100 100  246   95    1800   296   145>
            , <&key_physical_attrs 100 100  334  177    2200   384   227>
            , <&key_physical_attrs 100 100  410  262    2200   460   312>
            , <&key_physical_attrs 100 100  635  262 (-2200)   685   312>
            , <&key_physical_attrs 100 100  711  177 (-2200)   761   227>
            , <&key_physical_attrs 100 100  799   95 (-1800)   849   145>
            , <&key_physical_attrs 100 100  922  103 (-1000)   972   153>
            , <&key_physical_attrs 100 100 1045  165       0     0     0>
            , <&key_physical_attrs 100 100    0  265       0     0     0>
            , <&key_physical_attrs 100 100  107  202    1000   157   252>
            , <&key_physical_attrs 100 100  217  190    1800   267   240>
            , <&key_physical_attrs 100 100  299  270    2200   349   320>
            , <&key_physical_attrs 100 100  746  270 (-2200)   796   320>
            , <&key_physical_attrs 100 100  828  190 (-1800)   878   240>
            , <&key_physical_attrs 100 100  938  202 (-1000)   988   252>
            , <&key_physical_attrs 100 100 1045  265       0     0     0>
            , <&key_physical_attrs 100 100  271  374    3300   321   424>
            , <&key_physical_attrs 100 100  355  432    3300   405   482>
            , <&key_physical_attrs 100 100  439  489    3300   489   539>
            , <&key_physical_attrs 100 100  606  489 (-3300)   656   539>
            , <&key_physical_attrs 100 100  690  432 (-3300)   740   482>
            , <&key_physical_attrs 100 100  774  374 (-3300)   824   424>
            ;
    };

    physical_layout32: physical_layout32 {
        compatible = "zmk,physical-layout";
        display-name = "32-key";

        kscan = <&kscan0>;
        transform = <&matrix_transform32>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   32   37    1000    82    87>
            , <&key_physical_attrs 100 100  140    5    1000   190    55>
            , <&key_physical_attrs 100 100  276    0    1800   326    50>
            , <&key_physical_attrs 100 100  369   84    2200   419   134>
            , <&key_physical_attrs 100 100  445  169    2200   495   219>
            , <&key_physical_attrs 100 100  600  169 (-2200)   650   219>
            , <&key_physical_attrs 100 100  676   84 (-2200)   726   134>
            , <&key_physical_attrs 100 100  770    0 (-1800)   820    50>
            , <&key_physical_attrs 100 100  905    5 (-1000)   955    55>
            , <&key_physical_attrs 100 100 1013   37 (-1000)  1063    87>
            , <&key_physical_attrs 100 100    0  165       0     0     0>
            , <&key_physical_attrs 100 100  124  103    1000   174   153>
            , <&key_physical_attrs 100 100  246   95    1800   296   145>
            , <&key_physical_attrs 100 100  334  177    2200   384   227>
            , <&key_physical_attrs 100 100  410  262    2200   460   312>
            , <&key_physical_attrs 100 100  635  262 (-2200)   685   312>
            , <&key_physical_attrs 100 100  711  177 (-2200)   761   227>
            , <&key_physical_attrs 100 100  799   95 (-1800)   849   145>
            , <&key_physical_attrs 100 100  922  103 (-1000)   972   153>
            , <&key_physical_attrs 100 100 1045  165       0     0     0>
            , <&key_physical_attrs 100 100    0  265       0     0     0>
            , <&key_physical_attrs 100 100  107  202    1000   157   252>
            , <&key_physical_attrs 100 100  217  190    1800   267   240>
            , <&key_physical_attrs 100 100  299  270    2200   349   320>
            , <&key_physical_attrs 100 100  746  270 (-2200)   796   320>
            , <&key_physical_attrs 100 100  828  190 (-1800)   878   240>
            , <&key_physical_attrs 100 100  938  202 (-1000)   988   252>
            , <&key_physical_attrs 100 100 1045  265       0     0     0>
            , <&key_physical_attrs 100 100  307  414    3300   357   464>
            , <&key_physical_attrs 100 100  391  471    3300   441   521>
            , <&key_physical_attrs 100 100  654  471 (-3300)   704   521>
            , <&key_physical_attrs 100 100  738  414 (-3300)   788   464>
            ;
    };
};

/ {
    position_map {
        compatible = "zmk,physical-layout-position-map";

        physical_layout34 {
            physical-layout = <&physical_layout34>;
            positions = <28 29 30 31 32 33>;
        };

        physical_layout32 {
            physical-layout = <&physical_layout32>;
            positions = <32 28 29 30 31 33>;
        };
    };
};
