#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            display-name = "Base";
            bindings = <
                &kp Q &kp W &kp E    &kp R   &kp T    &kp Y     &kp U     &kp I     &kp O      &kp P
                &kp A &kp S &kp D    &kp F   &kp G    &kp H     &kp J     &kp K     &kp L      &kp SEMI
                &kp Z &kp X &kp C    &kp V   &kp B    &kp N     &kp M     &kp COMMA &kp DOT    &kp SLASH
                            &kp LGUI &kp TAB &kp BSPC &kp LSHFT &kp SPACE &kp RET
            >;
        };

        // Empty layers for ZMK Studio:
        extra1 {
            status = "reserved";
        };
        extra2 {
            status = "reserved";
        };
        extra3 {
            status = "reserved";
        };
        extra4 {
            status = "reserved";
        };
        extra5 {
            status = "reserved";
        };
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        // Top left (Q) + top right (P) = &studio_unlock
        combo_sys_reset {
            timeout-ms = <100>;
            key-positions = <0 9>;
            bindings = <&studio_unlock>;
        };
    };
};
